<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.default_znamenitost">

    <application>
        <activity
            android:name=".DefaultZnamenitostActivity"
            android:label="@string/title_activity_default_znamenitost"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>